body{
    font-family: Verdana;
    background-color: rgb(164, 204, 164);
}
body img{

    width: 80%;
    max-width: 240px;
}

label {
    float:left;
    width:130px;
    margin-right: 1cm;
    font-family: Verdana;
    }

textarea {

    float: left;
}    
    
input {
    
    float: left;

}

table {
    border: 1px solid black;
}

legend {
    
}

fieldset {

    border: 1px solid black;
}
    
header img{

    width: 10%;
    max-width: 50px;



}




